.container {
    margins: auto;
    width: 100%;
}

.calculator-container{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    flex-direction: column;
    background-color: darkgray;
    border: 5px red solid;
    border-radius: 10%;
}

.display{
    background-color: white;
    width: 80%;
}

button{
    padding: 10px;
    margin: 5px;
}

.button-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.clear{
    grid-column-start: 1;
    /*grid-column-end: span 4;*/
    grid-row-start: 1;
}
.empty{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
}

.empty2{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 5;
}