.container {
    margins: auto;
    width: 100%;
}

.calculator-container{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    flex-direction: column;
    background-color: lightgray;
    border: 5px red solid;
    border-radius: 5%;
    padding: 5px;
}

.display{
    background-color: white;
    width: 80%;
    padding: 10px;
    filter: drop-shadow(0 2px .15rem darkgray)
}

button{
    padding: 10px;
    margin: 5px;
    filter: drop-shadow(0 2px .15rem darkgray)
}

.button-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.clear{
    grid-column-start: 1;
    grid-row-start: 1;
}
.empty{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
}

.operator, .equals{
    background-color: rgba(246, 172, 172, 0.517);
}